* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1em;
    background-color: #E5E5E5;
}

body {
    font-family: "Muller Regular";
    font: medium;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


/* <!-- HEADER --> */

.header {
    height: 185px;
}

.logo {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-start;
    align-items: center;

}

.logo-border-img {
    border-radius: 15px;
    margin-right: 0;
}

.logo-tell {
    margin-left: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.logo-personal-account {
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;  
    font-weight: 400;
    color: #CC9933;  
    transition: .3s;
}

.logo-personal-account:hover {
    padding: 3px;
    border: 2px solid #CC9933;
    border-radius: 10px;
}

.personal-account-icon {
    margin-right: 5px;
    display: inline-block;
    color: #CC9933;
}

.logo-container {
    height: 70px;
    width: 1170px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}

.logo-nav {
    padding-left: 45px;
    padding-right: 55px;
}

.logo-nav-item {
    transition: .5s;
}


.logo-nav-item:hover {
    transform: scale(1.2);
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(91, 34, 237);
    border-radius: 5px;
}

.logo-nav-link {
    color: #666666;
}

.logo-nav-link:hover {
    color: #3bc8ac;
}

.logo-nav-list, .nav-btn {  
    display: flex;
  align-items: center;
  justify-content: flex-start;
}


.logo-nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-btn {
    padding-left: 55px;
}

.nav-btn-item:not(:last-child) {
    margin-right: 40px;
}

.nav-btn-item {
    border-radius: 15px;
    border: 1px solid #CC9933;
}

.nav-btn-item:hover {
    border: 1px solid#3c4745;
}

.nav-btn-link {
    display: block;
    padding: 13px 20px;
    color: #CC9933;
    border-radius: 15px;
    transition: color .3s linear, background .5s linear;
}

.nav-btn-link:hover {
    background-color: #3c4745;
    color: #fff;
}

/* <!-- HEADER --> */

/* SECTION SPECIAL-OFFERS */

.special-offer {
    padding-top: 55px;
}

.section-descriptions {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.offer-travel {
    display: flex;
}

.left-offer-travel {
    display: flex;
    flex-direction: column;
}

.left-top-offer,.left-bot-offer {
    min-width: 560px;
    min-height: 260px;
    padding: 40px 0px 35px 45px;
    margin-bottom: 25px;
    display: inline-block;
    flex-basis: 50%;
    border-radius: 15px;
}

.left-bot-offer {
    margin-bottom: 0;
}

.offer-heading { 
    margin: 0;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.offer-cost {
    padding-bottom: 40px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    opacity: 0.8;
}

.offer-more {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #F0BF5F;
}

.svg-more {
    margin-left: 10px;
}

.left-top-offer {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%,
     rgba(53, 65, 83, 0) 65.7%),
     url(../img/Мальдивские\ острова.jpg)
}

.left-bot-offer {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%,
     rgba(53, 65, 83, 0) 65.7%),
     url(../img/Остров\ Крит.png)
}

.right-offer-travel {
    margin-left: 25px;
    min-height: 100%;
    border-radius: 15px;
    background-image: url(../img/Люкс\ Отели.jpg);
}


.right-offer-description {
    min-width: 570px;
    min-height: 100%;
    padding-top: 215px;
    padding-left: 45px;
}


.right-offer-heading {
    padding-bottom: 25px;
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;  
}

.right-offer-cost {
    display: block;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}

/* SECTION SPECIAL-OFFERS */

/* SECTION ABOUT US */

.about-us {
    margin-top: 65px;
}

.about-us-text {
    margin: 0;
    font-weight: 400;
    line-height: 200%;
    color: #000000;
}

/* SECTION ABOUT US */

/* SECTION SERVICES */

.services {
    margin-top: 70px;
}


.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.services-item  {
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: #fff;
}

.services-bg-1 {
    background-image: url(../img/1\ сервис.jpg);
}

.services-bg-2 {
    background-image: url(../img/2\ сервис.jpg);
}

.services-bg-3 {
    background-image: url(../img/3\ сервис.jpg);
}

.services-bg-4 {
    background-image: url(../img/4\ сервис.jpg);
}

.services-description {
    margin-top: 200px;
    margin-left: 30px;
}

.servisec-heading {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;  
    transition: color .8s linear, transform 1s linear;
}

.servisec-heading:hover {
    color: #2386b0;
    transform: translate(5%, -25%);
}

.services-description-text {
    margin: 0;
    margin-bottom: 45px;
    font-weight: 400;
    line-height: 200%;
    color: #000000;
}

/* SECTION SERVICES */

/* SECTION ADVANTAGES */

.advantages {
    margin-top: 70px;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(280px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.advantages-list-item {
    padding: 40px 0px 40px 45px;
    background-color: #fff;
    border-radius: 15px;
}

.advantages-item-text {
    display: inline-block;
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/* SECTION ADVANTAGES */

/* SECTION  PlACEMENT */

.placement {
    margin-top: 70px;
}

.placement-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.placement-list-item {
    background-color: #fff;
    border-radius: 15px;
}

.placement-item-icon {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.placement-item-description {
    padding: 30px 0px 45px 45px;
   
}

.placement-item-cost {
    display: flex;
    align-items: center;
}

.placement-from-cost {
    display: inline-block;
    padding-right: 3px;
    font-weight: 400;
    color: #999999;
}

.placement-item-cost {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
 
}

.placement-item-time {
    font-weight: 400;
    padding-left: 4px;
    padding-right: 50px;
}

.star {
    width: 15px;
    height: 15px;
}

.placement-gps {
    padding-bottom: 20px;
    color: #999999;
}

.placement-list-link {
    padding: 15px 20px;
    border: 1px solid;
    border-radius: 15px;
    color: #CC9933;
    transition: color .3s linear, background .5s linear;
}

.placement-list-link:hover {
    color: #fff;
    background-color: #614773;
}

.placement-last-list-item {
    position: relative;
    padding-top: 355px;
    background-image: url(../img/9\ отель.jpg);
    border-radius: 15px;
}

.placement-last-item-description:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.placement-last-item-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%; 
    color: #FFFFFF;
}
.placement-svg {
    margin-left: 5px;
}

/* SECTION  PlACEMENT */

/* SECTION  FORM */

.travel {
    margin-top: 70px;
    
}

.container-travel {
    padding-bottom: 45px;
    background-color:#E9E9E9;
}

.section-form-description {
    padding-top: 43px;
    padding-bottom: 17px;
}

.section-travel-action {
    display: flex;
    align-items: center;
    padding: 30px 28px 40px 28px;
    width: 1080px;
    height: 106px;
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
}

label, select, input {
    display: block;
    text-align: left;
    border: none;
}

select { 
    margin-top: 15px;
    appearance: none;
    background-image: url(../img/Стрелка\ форма.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 6px;
}

input {
    margin-top: 15px;
    max-width: 124px;
}

.form-select-coutry {
    padding-right: 77px;
}

.form-select-city {
    padding-right: 27px;
}

.travel-form-list {
    display: flex;
    align-items: center;
}

.travel-form-item {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.travel-form-item:last-child {
    margin-right: 51px;
}

.travel-form-label {
    font-size: 12px;
    line-height: 1;
}

.travel-form-option {
    font-size: 16px;
    line-height: 1;
}  

.travel-form-input:not(:first-child) {
    border-bottom: 1px solid #E9E9E9;
}

.travel-link-text {
    margin-right: 0;
    padding: 15px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background-color: transparent;
    border: 1px solid #CC9933;
    border-radius: 15px;
     cursor: pointer;
     transition: 1s;
}

.travel-link-text:hover {
    transform: scale(1.2);

}

/* SECTION  FORM */

/* SECTION CONTACTS */

.contacts {
    margin-top: 70px;
}

.contacts-data {
    display: flex;
    padding: 45px;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
}

.contacts-data-left-block {
    display: flex;
    flex-direction: column;
   
}

.contacts-data-list {
    display: flex;
    flex-direction: column;
}

.contacts-data-item {
    padding-right: 53px;
    
}

.contacts-data-item:not(:last-child) {
    padding-bottom: 27px;
}

.contacts-data-text {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid  #E9E9E9;
}

.data-item-heading {
    display: inline-block;
    min-width: 145px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}

.contacts-data-right {
    display: flex;
    flex-direction: column;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.data-item-tell-text, .data-item-email-text {
    color: #CC9933;
    transition: color .4s;
}

.data-item-tell-text:hover {
    color: #666666;
}



.data-right-email-text {
    display: block;
    color: #999999;
}

.contacts-data-right-block {
    display: flex;
}

.contacts-data-item-gps {
   margin-top: 47px;
}

.data-link-gps-description {
    display: inline-block;
    padding: 30px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

/* SECTION CONTACTS */

/* SECTION FOOTER */

.footer {
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer-description {
    position: relative;
    display: flex;
    padding: 50px 40px 50px 45px;
    background-color: #333333;
    border-radius: 15px;
}

.footer-logo {
    position: absolute;
    bottom: 0;
    left: 695px;
    width: 254px;
    height: 228px;
   background-image: url(../img/футер\ лого.svg);
   background-repeat: no-repeat;
  
}


.footer-left-list, 
.footer-center-list , 
.footer-right-list {
    display: flex;
    flex-direction: column;
}

.footer-left-item {
    max-width: 310px;
}

.footer-left-item:not(:last-child) {
    margin-bottom: 53px;
}


.footer-left-text {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 190%;
}

.footer-left-agreement {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}


.footer-center-list {
    margin-left: 125px;
    max-width: 365px;
}

.footer-center-item:not(:last-child) {
    margin-bottom: 27px;
}

.footer-center-adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-center-tel,
.footer-center-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}


.footer-right-list {
    margin-left: auto;
}

.footer-right-item-soc {
    width: 25px;
    height: 25px;
    margin-bottom: 19px;
}





